{% extends 'base.html.twig' %}

{% block body %}
    <h1>Admin homepage</h1>
    {{ knp_menu_render('admin_main',  { 'style': 'justified-pills' }) }}
    {% block content %}
    {% endblock %}
{% endblock %}